body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #AFA4A4;
}

.topnav {
  overflow: hidden;
  background-color: #EECECE;
}

.topnav a {
  float: left;
  display: block;
  color: #06365F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: #579EDC;
}

.topnav a.active {
  background-color: purple;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

div.elem-group {
  margin: 15px 5;
}

div.elem-group.inlined {
  width: 20%;
  display: inline-block;
  float: left;
  margin-left: 5%;
}

div.places-block {
  width: 70%;
  display:inline-block;
  float: left;
  margin-left: 5%;
  padding-bottom: 15px;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.15em;
}
div.elem-group.inlined input {
  width: 85%;
  display: inline-block;
}

div.places-block input {
  width: 70%;
  display: inline-block;
}

.coupon {
  border: 7px dotted #bbb;
  width: 150%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 200px;
  background-color: red;
  border-color: yellow;
  float: right;
  margin-right: 1%;
}
.transbox1 {
  margin: 15px;
  background-color: #AFA4A4;
  border-radius: 5px;
  opacity: 0.9;
}

.transbox1 p {
  margin: 15px;
  color: black;
 }


.container1 {
  padding: 2px 7px;
  background-color: red;
}

.container {
 width: 300%;
  border-radius: 10px;
  margin: 60px;
  max-width: 250px;
  background-size: 100%;
  float: left;
   margin-left: 5%;
   margin-right: 5%;
  color: white; 
  text-align:center;
  padding: 5px 5px;
  display: inline-block;
}

.transbox {
  margin: 15px;
  background-color: #AFA4A4;
  border-radius: 10px;
  opacity: 0.9;
}

.transbox p {
  margin: 0 auto;
  color: black;
 }

@media screen and (max-width: 600px) {
  .elem-group, .elem-group.inlined, .places-block, label, .elem-group.inlined input, .places-block input, .coupon, .transbox1, .transbox1 p, .container1, .container, .transbox, .transbox p {
    width: 85%; 
  }
